#daemon configuration
telnet_port 4444
gdb_port 3333

# tell gdb our flash memory map
# and enable flash programming
gdb_memory_map enable
gdb_flash_program enable

#interface
interface jlink
jtag_speed 5
jtag_nsrst_delay 200
jtag_ntrst_delay 200


#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config srst_only

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
# taken from doc.: valid for ARM; last arg. is instruction to query for the
#  JTAG id code, but unused (according to doc.)
jtag_device 4 0x1 0xf 0xe

#target configuration
daemon_startup reset

#target <type> <startup mode>
#target arm7tdmi <reset mode> <chainpos> <endianness> 
target arm7tdmi little run_and_init 0 arm7tdmi
# @@@ verify these
run_and_halt_time 0 30

target_script 0 reset test.script

working_area 0 0x00202000 0x2000 nobackup

#flash bank <driver> <base> <size> <chip_width> <bus_width>
# As per docs: all other values found at run-time
flash bank at91sam7 0 0 0 0 0

# For more information about the configuration files, take a look at:
# http://openfacts.berlios.de/index-en.phtml?title=Open+On-Chip+Debugger
